h1{
    font-family: 'Kulim Park', sans-serif;
    color: white;

}
h2{
    font-family: 'Kulim Park', sans-serif;
    color: white;
    margin-bottom: 5%;

}
body{
    color: #FDFFFC;
  text-align: center;
  background-color: #011627;
  border: 60px solid #2EC4B6;
  border-top: 0px;
    margin: 0%;
}
.myclass{

    color: white;

}
form{
    font-size: 1.5em;
    /*top, right, bottom, and left*/
    margin: 5% 20% 5% 20%;
    background-color: #D88A8A;




}
#submit{
    width: 10%;
    height: 5%;
}
